.featureBg{
    position:relative;
    min-height: 100vh
}
.imgBg{
    position:absolute;
    width: 100%;
    height: 100%;
    background-image:url('../../../../../../public/images/room.jpg');
}

.overlayBg{
    position:absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(0,0,0) , rgba(0, 0, 0, 0.1));
}


.contentBg{
    position:absolute;
    z-index: 1;
}