.mainSlider {
    width: 100%;
    min-height: 450px;
}

.containerSlider{
    position: relative;
    min-height: 70vh;
    background-size: cover 
}
.itemSlider{
    top: 20vh;
    position: absolute;
    padding: 40px 40px 40px 40px;
    background: white;
    border-radius: 0px 50px 30px 0px;
}
.item {
    background: gray
}