.mainSlider {
    width: 100%;
    min-height: 450px;
}

.containerSlider{
    position: relative;
    min-height: 70vh;
    background-size: cover 
}
.itemSlider{
    top: 20vh;
    position: absolute;
    padding: 40px 40px 40px 40px;
    background: white;
    border-radius: 0px 50px 30px 0px;
}
.item {
    background: gray
}

.itemContainer{
    background-color: #F2F0F2;
    border-radius: 30px;
    overflow: hidden;
}

.textContent{
    padding:20px
}
.imgContainer{
    max-height: 200px;
    width: auto;
}

.mainContainer{
    padding: 80px 0
}