.contentContainer{
    padding: 80px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.gridContainer{
    width: 40vw;
    display: flex;
    justify-content: center;
}

.contentImg{
    border-radius: 20px;
}